body{
    margin: 0;
    background: #3D403A;
    color: #F2EFEB;
    min-width: fit-content;
}

.page-container{
    display: flex;
    flex-direction: column;
}

.header{
    padding: 1rem;
    text-align: center;
    font-family: 'Goudy Bookletter 1911', sans-serif;
    font-size: 5rem;
}

.content{
    display: flex;
    width: fit-content;
    padding: 2% 5% 1%;
    align-self: center;
}

.grid-size-container{
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: space-evenly; 
}

.grid-size-button{
    padding: 1.2rem;
    background: #888C81;
    border: 3px solid #0D0D0D;
    border-radius: 50%;
    font-size: 2.2rem;
    font-weight: 800;
}

/* Grid Layout*/

.sketchpad-grid{
    display:grid;
    width: 680px;
    height: 680px;
    margin: 1rem;
    border: 5px solid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.sketchpad-grid > div{
    color: #fff;
}

.left-container{
    display: flex;
}

.right-container{
    padding: 1rem 4rem 1rem 5rem;
    align-self: flex-end;
}

.pen-button{
    width: 10rem;
    padding: 1rem;
    margin: 2rem 1rem;
    background: #888C81;
    border: 3px solid #0D0D0D;
    border-radius: 5%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    align-items: center;
}

.colorPicker-wrap{
    display: flex;
    justify-content: center;
}

input[type = "color"]{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    background: none;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    display: flex;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

  input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}


.erase-button{
    width: 10rem;
    padding: 1rem;
    margin: 6rem 1rem;
    background: #888C81;
    border: 3px solid #0D0D0D;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}


.grid-size-button:hover{
    color: blanchedalmond;
}

.pen-button:hover, .erase-button:hover{
    transform: scale(1.10);
    color: rgb(159, 197, 228);
}